/* New colour palette 
#0F4C81 - classicblue
#51CBB4 - aqua
#5679B5 - provence
#A4B9CC - babyblue
#687274 - monument
#F0D5A1 - cornhusk
#EDF2F4 - cream
#30FF07 - neongreen
#1FF0F1 - cyan
#ffffff - white

Old Colour palette
#2B2D42 - darkblue
#8D99AE - lightblue
#EDF2F4 - cream
#EF233C - red
#D90429 - darkred
-------------------------*/
/* Global styles
-------------------------*/
/* Box Model Fix */
html {
	box-sizing: border-box;
}
*, *:before, *::after {
  box-sizing: inherit;
}
/*---------Box Fix------*/

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
	margin: 0;
}
h4 {
	margin-bottom: 0;
}
a{
  color: #fff4e6; /* oc-orange-0 (open color) */
}
a:hover{
  text-decoration: none;
}
.centre {
	text-align: center;
}
.icon-background {
    color: #0e76a8;
}
.hide-panel {
    display: none;
}


/***********/

.contact-info a {
  padding: 10px;
  display: inline-block;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.caption {
    clear:both;
    text-align:center;
}
.uppercase {
	text-transform: uppercase;
}
.btn {
	text-decoration: none;
	background: #5679B5;  /* Provence */
	color: white;
    width: 125px;
	padding: 10px;
    margin: 4px 10px 4px 5px;
    border-radius:5px;
    text-align: left;
    font-size: .8em;
    box-shadow: 2px 1px 2px rgb(128,128,128,0.5);
	display: inline-block;
}
.btn:hover {
    color:#1FF0F1; /* Cyan */
    box-shadow: -2px 1px 2px 1px #1FF0F1; /* Cyan */
}
.btn:active {
    box-shadow: 2px 1px 2px rgb(128,128,128,1);
    margin: 6px 10px 2px 10px;
}
.btn-panel {
    width: 130px;
    background: rgba(179,198,214,0.5); /* Baby Blue */
    padding: 3px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 0 white;
    position: fixed;
    top: 85px;
    right: 0px;
}


/* Header and footer
--------------------------*/
header, footer{
  background: #0F4C81; /* Classic Blue */
  color: #F0D5A1; /* Cornhusk */
}
/* Header */
header {
	padding-top: 50px;
	position: relative;
}

.header-large-cog-img {
	max-width: 120px;
	position: relative;
	top: 20px;
	left: 20px;
	animation: spin 10s linear infinite;
	animation-play-state:running;
}

.header-small-cog-img {
	max-width: 94px;
	position: relative;
	top: 33px;
	left:-1px;
	animation: spin 10s linear infinite;
    animation-direction: reverse;
	animation-play-state:running;
}
    
header h1, header h2{
  color: #EDF2F4;
  margin: 0;
}
.download {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Footer */
footer {
  text-align: center;
}
.footer-banner {
    max-width:100%;
    height:auto; 
    position:relative
    bottom: 0;
    left: 0;
    
}
.footer-large-cog-img {
	max-width: 110px;
	position: relative;
	top: -130px;
	left: -134px;
	animation: spin 10s linear infinite;
	animation-play-state:running;
}
.footer-large-cog-img:hover {
	animation-play-state:running;
}
.footer-small-cog-img {
	max-width: 80px;
	position: relative;
	top: -145px;
	left: -320px;
	animation: spin 10s linear infinite;
	animation-direction: reverse;
	animation-play-state:running;

}
.footer-small-cog-img:hover {
	animation-play-state:running;
}

@keyframes spin {
  100%{transform: rotate(1turn);}
}

/* Navigation
--------------------------*/
nav {
	text-align: center;
	background: #ff922b; /* oc-orange-5 (open color) */
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 400;
}

.btn_col {
    width:10%;
	float: left;
}


/* Work Experience
--------------------------*/
.work{
  background: #ffffff; /* White */
}
h3 ~ p {
	margin: 0;
}
.job-description h4:first-of-type {
	margin-top: 0;
}
.job-description p:first-of-type {
	margin-top: 0;
}


/* Education
--------------------------*/ 
.education{
   background-color: #51CBB4; /*Aqua */
}

/* Certifications
--------------------------*/
.certifications {
	background-image: url("../images/toronto.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.background {
    background-color: rgba(81, 203, 180,.9);
}
.contrast {
    filter: contrast(110%);
}
.blur {
    filter: blur(1px);
}


/* Media queries-----------*/

@media (min-width: 1080px) {
    .col-narrow {
        width:40%;
        float: left;
    }
    
    .col-wide {
        width: 60%;
        float: left;
        padding-left: 40px;
    }
       .profile-img {
        width: 250px;
    }
}

@media (max-width: 1079px) {
	header {
		text-align: center;
	}
	.profile-img {
		width: 200px;
	}
	.footer-large-cog-img{
		display: none;
	}
	.footer-small-cog-img {
		display: none;
	}
	.footer-banner {
		display: none;
	}
}







